.field
{
    height: 35em;
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    color: white;
    margin-bottom: 10px;
    overflow-y: scroll;
}
.field-hoothoots
{
    margin: auto;
    margin-top: 5vh;
    height: 65vh;
    width: 80vw;
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    color: white;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.field-title
{
    font-family: 'Calibri';
    font-size: 1.6em;
    margin-top: 0.5em;
}
::-webkit-scrollbar{
   overflow: hidden;
  }
  
  ::-webkit-scrollbar-thumb{
    padding-top: 20px;
    background-color: #334d57;
    border-radius: 10px;
  }

.body-overlay
{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    pointer-events: none;
}

.body-overlay.sichtbar
{
    opacity: 1;
    pointer-events: auto;
}

#select-hoothoots
{
    padding-top: 3em;
}

#question-overview
{
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    width: 15vw;
    min-width: 15em;
    height: 87vh;
    min-height: 49.4em;
    overflow-y: scroll;
}
::-webkit-scrollbar
{
    overflow: hidden;
    width: 14px;
}
::-webkit-scrollbar-thumb
{
    padding-top: 20px;
    background-color: #334d57;
    border-radius: 10px;
}

#media-input
{
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    width: 65vw;
    min-width: 20em;
    height: 60vh;
    min-height: 34.5em;
}

#question-options
{
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    width: 15vw;
    min-width: 15em;
    height: 87vh;
    min-height: 49.4em;
}

#join-info
{
    border: 3px solid white;
    border-radius: 1em;
    width: 50vw;
    /* min-width: ; */
    height: 14em;
}

/* 2 Spalten innerhalb des Divs erzeugen */
.column
{
    float: left;
    width: 50%;
}

#div-media
{
    border: 1px solid #476D7C;
    border-radius: 1em;
    min-width: 60vw;
    height: 29em;
    margin-top: 1.5em;
}

#evaluation
{
    border: 0px solid white;
    border-radius: 1em;
    width: 60em;
    height: 25em;
    margin-top: 6.4em;
    margin-left: auto;
    margin-right: auto;
}

.evaluation-diagramm
{
    float: left;
    border: 1px solid white;
    border-radius: 1em;
    width: 7em;
    margin-top: 15em;
    margin-right: 2em;
}

#evaluation-diagramm-A
{
    background-color: #476D7C;
    color: white;
    opacity: .5;
    font-size: 1.2em;
}

#evaluation-diagramm-B
{
    color: white;
    opacity: .5;
    font-size: 1.2em;
}

#evaluation-diagramm-C
{
    color: white;
    opacity: .5;
    font-size: 1.2em;
}

#evaluation-diagramm-D
{
    background-color: #476D7C;
    font-size: 1.2em;
    height: 13em;
    margin-top: 5.6em;
}

#winneranimation
{
    background-color: #040e23;
    border: 1px solid #476D7C;
    border-radius: 1em;
    width: 37.5vw;
    height: 40em;
    padding-top: 8em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    /* margin-left: auto;
    margin-right: auto; */
    overflow: hidden;
    animation-name: winnerwidth;
    animation-duration: 10s;
}
#winnerattendess
{
    box-sizing: border-box;
    background-color: #040e23;
    border: 1px solid #476D7C;
    border-radius: 1em;
    width: 90vw;
    height: 40em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding: 0;
    overflow-y: hidden;
    animation-name: attendesswidth;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}


#difficult-questions
{
    border: 1px solid #476D7C;
    border-radius: 1em;
    width: 74vw;
    height: 40em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

.analyse-field
{
    height: 45em;
    width: 50vw;
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    color: white;
    margin-bottom: 10px;
    margin: auto;
}
.analyse-question-field
{
    height: 45em;
    width: 30vw;
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    color: white;
    margin: auto;
    overflow-y: scroll;
}

.analyse-question-field-title
{
    text-align: center;
    font-family: 'Calibri';
    font-size: 1.6em;
    margin-top: 0.5em;
}
.analyse-field-title
{
    
    text-align: center;
    font-family: 'Calibri';
    font-size: 1.6em;
    margin-top: 0.5em;
}

.average-time{
    height: 13em;
    width: 15vw;
    margin: auto;
    margin-left: 10vh;
    margin-top: 4vh;
    float: left;
}

.average-vote{
    height: 13em;
    width: 15vw;
    margin: auto;
    margin-right: 10vh;
    margin-top: 4vh;
    float: right;
}

.winner-row-animation {
    gap: 0;
    justify-content: center;
    animation-name: winnerRowAnimation;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#difficult-questions
{
    border: 1px solid #476D7C;
    border-radius: 1em;
    width: 74vw;
    height: 40em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}


@keyframes winnerwidth {
    0%   {width: 75vw;}
    70%  {width: 75vw;}
    100%  {width: 37.5vw;}
  }
  @keyframes attendesswidth{
    0%   {visibility: hidden;width: 0vw;}
    70%  {visibility: collapse;width: 0vw;}
    100%  {width: 37.5vw; overflow-y: auto;}
  }

/* TODO: Rename */
@keyframes winnerRowAnimation {
    0% { gap: 0 }
    70% { gap: 0 }
    100% { gap: 4rem }
}

@media (width <1000px){
    #winneranimation
{
    width: 90vw;
    height: 30vh;
    padding:0;
    margin-bottom: 0;
}

      @keyframes attendesswidth{
        0%   {visibility: hidden;height: 0vh;}
        70%  {visibility: collapse;height: 0vh;}
        100%  {height: 30vh; overflow-x: auto;}
      }
    
    /* TODO: Rename */
    @keyframes winnerRowAnimation {
        0% { gap: 0 }
        70% { gap: 0 }
        100% { gap: 4rem }
    }

    #winnerattendess
{
    width: 90vw;

    margin: 0;
}
    #select-hoothoots
    {
        padding-top: 2vh;
        margin: auto;
    }
}