.field
{
    height: 35em;
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    color: white;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.field-title
{
    font-family: 'Calibri';
    font-size: 1.6em;
    margin-top: 0.5em;
}
::-webkit-scrollbar{
   overflow: hidden;
  }
  
  ::-webkit-scrollbar-thumb{
    padding-top: 20px;
    background-color: #334d57;
    border-radius: 10px;
  }

.body-overlay
{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    pointer-events: none;
}

.body-overlay.sichtbar
{
    opacity: 1;
    pointer-events: auto;
}

#question-overview
{
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    width: 15vw;
    min-width: 15em;
    height: 87vh;
    min-height: 49.4em;
}

#media-input
{
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    width: 65vw;
    min-width: 20em;
    height: 60vh;
    min-height: 34.5em;
}

#question-options
{
    border: 0.5px solid #476D7C;
    border-radius: 1em;
    width: 15vw;
    min-width: 15em;
    height: 87vh;
    min-height: 49.4em;
}

#join-info
{
    border: 3px solid white;
    border-radius: 1em;
    width: 50vw;
    /* min-width: ; */
    height: 14em;
}

/* 2 Spalten innerhalb des Divs erzeugen */
.column
{
    float: left;
    width: 50%;
}