.inputField
{
    margin-top: 0.4em;
    border-radius: 0.5em;
    background-color: #476D7C;
    font-family: 'Calibri';
    text-align: center;
    color: white;
    width: 20em;
    height: 2.2em;
    border-color: #476D7C;
}
::placeholder{
    color: white;
}

.inputField-popup
{
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: #476D7C;
    font-family: 'Calibri';
    text-align: center;
    color: white;
    min-width: 17.5em;
    max-width: 17.5em;
    height: 2.2em;
    border-color: #476D7C;
}

#searchQuestion-hoothoots
{
    width: 25vw;
    min-width: 20em;
    height: 2em;
    margin-top: .3em;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-radius: .5em;
    margin-top: 3vh;
}

#inputField-coursename
{
    width: 30vw;
    min-width: 30em;
    height: 2.5em;
    margin-top: 1.5em;
    margin-left: 9.25em;
    font-size: 1em;
}

#inputField-question
{
    width: 50vw;
    min-width: 30em;
    height: 2em;
    margin-top: .3em;
    margin-bottom: 1em;
    font-size: 1.2em;
}