body
{
    background-color: #040E23;
}

/* sites centering */
.welcomePage, .tLandingPage, .tRegistrationPage,
.tLoginPage, .tHomeMenuPage, .tLibraryMenuPage,
.tCreateHootHootPage, .tLetStudentsJoinPage, .tPlayHootHootPage,
.tAnswerEvaluationPage, .tWinnerAnimationPage, .tHootHootEndcardPage,
.s_LandingPage, .s_Answermin
{
    color: #476D7C;
    font-family: 'Calibri';
    text-align: center;
}