body
{
    background-color: #040E23;
}

/* sites centering */
.welcomePage, .tLandingPage, .tRegistrationPage,
.tLoginPage, .tHomeMenuPage, .tLibraryMenuPage,
.tCreateHootHootPage, .tLetStudentsJoinPage
{
    color: #476D7C;
    text-align: center;
}