#logomenue{
    float: left;
    height: 70px;
}

.symbol-add{
    height: 50px;
}
#owl{
    height: 40vh;
}

#question-picture-preview
{
    width: 25em;
    height: 25em;
}
.symbol-add:hover
{
    /* border: 2px solid white; */
    color: blue;
    transition: 0.3s;
}
@media (width <1000px){
    #owl{
        width: 0px;
        height: 0px;
        visibility: collapse;      
    }    
}