#logomenue{
    float: left;
    height: 70px;
}

.symbol-add{
    height: 50px;
}
#owl{
    height: 400px;
}

#question-picture-preview
{
    width: 25em;
    height: 25em;
}
.symbol-add:hover
{
    /* border: 2px solid white; */
    color: blue;
    transition: 0.3s;
}