.questiontile
{
    border: 1px solid #476D7C;
    border-radius: 0.8em;
    /* font-family: 'Calibri';
    font-size: 1.3em; */
    color: #476D7C;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 1.5em;
}
.questiontile:hover
{
    /* border: 2px solid white; */
    color: white;
    transition: 0.3s;
}


.questiontext
{
    font-family: Calibri;
    font-size: 1.3em;
    padding-top: 0.5em;
}

.form-check-input
{
    margin-top: 1em;
    height: 1.5em;
    width: 1.5em;
    background: #ffffff;
}